# Backend API URL
# For local development
# NEXT_PUBLIC_API_URL=http://localhost:5000

# For production (replace with your actual backend URL)
NEXT_PUBLIC_API_URL=https://your-backend-url.com

# OAuth Client IDs (Public)
# Get these from GitHub and Google OAuth apps
NEXT_PUBLIC_GITHUB_CLIENT_ID=Ov23ctV2GihzRE3YiCGB
NEXT_PUBLIC_GOOGLE_CLIENT_ID=98543264706-4vbtoejh399fp3skhrch1pnnkgros2k3.apps.googleusercontent.com
